header {
  height: 500px;
  background-color: rgb(16, 119, 134);
}
.boardingPass {
  background-color: rgb(215, 240, 238);
  height: 500px;
  justify-content: center;
  display: flex;
}
.passBox {
  width: 80%;
  height: 300px;
  background-color: #fbf8f2;
  border-radius: 6px;
}
.customPos {
  padding-top: 30px;
  padding-left: 40px;
}
h1 {
  color: #682520 !important;
}
h5 {
  color: #45050c !important;
}
